
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restaurant App</title>
        <link rel="stylesheet" href="/css/indexStyle.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="keys">
                <button class="other-buttons">Home</button>
                <button class="other-buttons">Menu/Order</button>
                <button class="other-buttons">About us</button>
                <button class="other-buttons">Contact us</button>
                <button id="account">Login</button>
            </div>
        </div>
    </body>
</html>