<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutUsStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div id="keys">
                <button onclick="location.href='/';" class="other-buttons">Home <i class='bx bxs-home-smile' ></i></button>
                <button onclick="location.href='/menu';" class="other-buttons">Menu/Order</button>
                <button class="other-buttons">About us</button>
                <button class="other-buttons">Contact us</button>
                <button onclick="location.href='/login';" id="login">Login</button>
            </div>
        </div>
        <div class = "background"></div>
            <div class = "hello">
                <h1>Our Restaurant</h1>
            </div>
            <div class = "description">
                <p>
                   Στο εστιατόριο μας, η αγάπη μας για
                   την ποιοτική γαστρονομία και τη φιλοξενία
                   αντικατοπτρίζεται σε κάθε πιάτο που σερβίρουμε.
                   Με φρέσκα υλικά, δημιουργικές συνταγές και ζεστό
                   περιβάλλον, σας καλούμε να απολαύσετε μια μοναδική
                   εμπειρία γεύσης. Είμαστε εδώ για να κάνουμε κάθε σας
                   στιγμή ξεχωριστή!
                </p>
            </div>
    </div>
</body>
</html>
