<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutUsStyle.css">
</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div id="keys">
                <button class="other-buttons">Home</button>
                <button class="other-buttons">Menu/Order</button>
                <button class="other-buttons">About us</button>
                <button class="other-buttons">Contact us</button>
                <button id="login">Login</button>
            </div>
        </div>
        <div class = "background"></div>
            <div class = "hello">
                <h1>Our Restaurant</h1>
            </div>
            <div class = "description">
                <p>
                   Στο εστιατόριο μας, η αγάπη μας για
                   την ποιοτική γαστρονομία και τη φιλοξενία
                   αντικατοπτρίζεται σε κάθε πιάτο που σερβίρουμε.
                   Με φρέσκα υλικά, δημιουργικές συνταγές και ζεστό
                   περιβάλλον, σας καλούμε να απολαύσετε μια μοναδική
                   εμπειρία γεύσης. Είμαστε εδώ για να κάνουμε κάθε σας
                   στιγμή ξεχωριστή!
                </p>
            </div>
    </div>
</body>
</html>
