<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\aboutUsStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <input type="checkbox" id="sidebar-toggle">
        <label for="sidebar-toggle" id="toggle-label">☰</label>
        
        <div id="sidebar">
            <div id="keys">
                <button onclick="location.href='/';" class="other-buttons">Home <i class='bx bxs-home-smile' ></i></button>
                <button onclick="location.href='/menu';" class="other-buttons">Menu/Order</button>
                <button class="other-buttons">About us</button>
                <button class="other-buttons">Contact us</button>
                <button onclick="location.href='/login';" id="login">Login</button>
            </div>
        </div>
        <div class = "background">
            <div class = "hello">
                <span Class=ourTitle><h1>Our Restaurant</h1></span>
            </div>
            <div class = "description">
                <p>
                   Στο εστιατόριο μας, η αγάπη μας για
                   την ποιοτική γαστρονομία και τη φιλοξενία
                   αντικατοπτρίζεται σε κάθε πιάτο που σερβίρουμε.
                   Με φρέσκα υλικά, δημιουργικές συνταγές και ζεστό
                   περιβάλλον, σας καλούμε να απολαύσετε μια μοναδική
                   εμπειρία γεύσης. Είμαστε εδώ για να κάνουμε κάθε σας
                   στιγμή ξεχωριστή!ίμαστε εδώ για να κάνουμε κάθε σας στιγμή ξεχωριστή.
                   Στόχος μας είναι να δημιουργήσουμε αναμνήσεις, όχι μόνο γεύσεις.
                   Είτε γιορτάζετε μια σημαντική περίσταση είτε απλά θέλετε να απολαύσετε ένα ήρεμο γεύμα με φίλους και οικογένεια,
                   η εμπειρία στο εστιατόριό μας είναι φτιαγμένη για να σας εντυπωσιάσει.
                   Για εμάς, κάθε γεύμα είναι μια ευκαιρία να δημιουργήσουμε στιγμές χαράς,
                   γεμάτες γεύσεις και ατμόσφαιρα.
                </p>
            </div>
            <div class = "info">
                <span class="info-telephone">📞 Telephone: 6980170719</span>
                <span class="info-email">📧 Email: tsekos@gmail.com</span>
                <span class="info-place">📍 adress: Kerasountos 50, Aigaleo</span>
            </div>
        </div> 
    </div>
</body>
</html>