<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
</head>
<body>
    <h1>Create a New Order</h1>
    <form th:action="@{/orders/create}" method="post">
        <label for="tableId">Table ID:</label>
        <input type="number" id="tableId" name="tableId" required>
        <br>
        <label for="restaurantId">Restaurant ID:</label>
        <input type="number" id="restaurantId" name="restaurantId" required>
        <br>
        <button onclick="location.href='/add-dish';" type="submit">Create Order</button>
    </form>
</body>
</html>

<!-- onclick="location.href='/add-dish';" -->