<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\createStyle.css">
</head>
<body>
    
    <div class="container">
        
        <form th:action="@{/menu/create}" method="post">
            <h1>Create a new order!</h1>
            <div class="inputs">
                <input list="numbers" name="tableId" placeholder="Table" required>
                <datalist id="numbers"></datalist>
            </div>
            <div class="inputs">
                <input list="numbers2" name="restaurantId" placeholder="Restaurant" required>
                <datalist id="numbers2"></datalist>
            </div>
            <button type="submit" onclick="location.href='/afterMenu';" class="btn">Create Order</button> <!--aggelos -->
        </form>
        <div th:if="${error}" class="alert">
          <span th:text="${error}"></span>
      </div>
    </div>
    <button onclick="location.href='/menu';" class="btn-back">Back</button>
    <script>
        const datalist = document.getElementById('numbers');
        for (let i = 1; i <= 20; i++) {
          const option = document.createElement('option');
          option.value = i;
          datalist.appendChild(option);
        }
      </script>
      <script>
        const datalist2 = document.getElementById('numbers2');
        for (let i = 1; i <= 2; i++) {
          const option = document.createElement('option');
          option.value = i;
          datalist2.appendChild(option);
        }
      </script>
</body>
</html>

<!-- onclick="location.href='/add-dish';" -->