
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restaurant App</title>
        <link rel="stylesheet" href="/css/indexStyle.css">
    </head>
    <body>
        <div class="container">
            <div id="sidebar">
                <div id="keys">
                    <button class="other-buttons">Home</button>
                    <button class="other-buttons">Menu/Order</button>
                    <button class="other-buttons">About us</button>
                    <button class="other-buttons">Contact us</button>
                    <button id="login">Login</button>
                </div>
            </div>
            <div class="content">
                <div class="hello">
                    <h1>RESTAURANT</h1>
                </div>
                <div class="scroll-box">
                    <h2>Η απόλυτη εμπειρία ενός αναποφάσιστου καταναλωτή!</h2>
                    <p> Στο Restaurant δεν τρώτε απλά - ζείτε την εμπειρία του φαγητού!
                        Χρησιμοποιούμε μια καινοτόμο τεχνολογία που προσαρμόζει το μενού
                        στις δικές σας γευστικές προτιμήσεις, προσφέροντάς σας τις πιο
                        απολαυστικές επιλογές κάθε φορά. Μην αφήνετε τις αποφάσεις για
                        το τι να παραγγείλετε στην τύχη! Το λογισμικό μας αναγνωρίζει τα 
                        κατάλληλα πιάτα για εσάς και σας προτείνει τα ιδανικά γεύματα που
                        θα ικανοποιήσουν τις επιθυμίες σας. Ελάτε στο Restaurant και 
                        ανακαλύψτε τη γεύση που σας ταιριάζεi. Kάθε γεύμα είναι φτιαγμένο για εσάς!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>