<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restaurant App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\css\ingredientsStyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="big-container">
            <div class="container">
                <button onclick="location.href='/login';" class="btn">Back</button>
                <button onclick="location.href='/tables';"class="tables">Open Tables</button>
                <button class="ingredients">Ingredients Stock</button>
                <button onclick="location.href='/statistics';"class="statistics">Statistics</button>
            </div>
            <div class="container2">

            </div>
    </div>
    </body>
</html>