<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu/Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\menuStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple'>
</head>
<body>
    <div class="container">
                
        <div id="sidebar">
            <div id="keys">
                <button onclick="location.href='/';" class="other-buttons">Home <i class='bx bxs-home-smile' ></i></button>
                <button class="other-buttons">Menu/Order</button>
                <button onclick="location.href='/menu/payment';" class="other-buttons">Payment</button>
                <button onclick="location.href='/aboutUs';" class="other-buttons">About us</button>
                <button onclick="location.href='/reviewList';" class="other-buttons">Reviews</button>
                <button onclick="location.href='/login';" id="login">Login</button>
            </div>
        </div>
        <div class="menu_order">
            <div  class="font-effect-shadow-multiple">
                <div class="header">
                    <h1>Menu</h1>
                </div>
                <div class="header">
                    <h1>Preferences</h1>
                </div>
            </div>
            <div class="tables">
                <div class="menu">
                    <h1>La Pasteria Id = 1</h1>
                    <h1>Starters</h1>
                    <div class="product-list">
                        <div class="product-item">
                            <p class="name">Garlic Bread</p>
                            <p class="price">5.99 <i class='bx bx-euro'></i></p>
                        </div>
                        <p class="description">Toasted bread with garlic butter and herbs</p>
                        <div class="product-item">
                            <p class="name">Bruschetta</p>
                            <p class="price">6.99 <i class='bx bx-euro'></i></p>
                        </div>
                        <p class="description">Grilled bread topped with tomato, garlic, and basil</p>
                    </div>
                    <h1>Main</h1>
                    <div class="product-list">
                        <div class="product-item">
                            <p class="name">Margherita Pizza</p>
                            <p class="price">9.99 <i class='bx bx-euro'></i></p>
                        </div>
                        <p class="description">Classic pizza with tomatoes and mozzarella</p>
                        <div class="product-item">
                            <p class="name">Pepperoni Pizza</p>
                            <p class="price">12.99 <i class='bx bx-euro'></i></p>
                        </div>
                        <p class="description">Pizza topped with pepperoni and cheese</p>
                    </div>
                    <h1>Desserts</h1>
                    <div class="product-list">
                        <div class="product-item">
                            <p class="name">Tiramisu</p>
                            <p class="price">6.99 <i class='bx bx-euro'></i></p>
                        </div>
                        <p class="description">Classic Italian dessert with coffee-soaked ladyfingers</p>
                    </div>
                    <div></div>
                    
                    <button onclick="location.href='/menu/create';" class="order">
                         Order Here
                    </button>
                </div>
                <div class="preferences">
                    <form th:action="@{/menu}" method="get">
                        <h1>1. What is the maximum amount you are willing to spend?</h1>
                        <div class="budget">
                            <input type="number" name="budget" step="0.01" placeholder="ex: 45.00"/>
                        </div>
                        <h1>2. What categories of dishes are you interested in?</h1>
                        <div class="filter">
                            <div>
                                <input type="checkbox" id="category1" name="categories" value="Appetizer">
                                <label for="category1" class="labels">Appetizers</label>
                            </div>
                            <div>
                                <input type="checkbox" id="category2" name="categories" value="Main Courses">
                                <label for="category2" class="labels">Main Courses</label>
                            </div>
                            <div>
                                <input type="checkbox" id="category3" name="categories" value="Desserts">
                                <label for="category3" class="labels">Desserts</label>
                            </div>
                        </div>
                        <h1>3. In case of an allergy, please enter the allergenic ingredient.</h1>
                        <div class="filter">
                            <div>
                                <input type="checkbox" id="allergy1" name="allergies" value="Tomato">
                                <label for="allergy1" class="labels">Tomato</label>
                            </div>
                            <div>
                                <input type="checkbox" id="allergy2" name="allergies" value="Pepperoni">
                                <label for="allergy2" class="labels">Pepperoni</label>
                            </div>
                            <div>
                                <input type="checkbox" id="allergy3" name="allergies" value="Garlic">
                                <label for="allergy3" class="labels">Garlic</label>
                            </div>
                        </div>
                        <button type="submit" class="submit">
                            Submit Answers  
                        </button>
                    </form>
                    <div class="dishes" th:if="${filteredDishes != null}">
                        <ul>
                            <li th:each="dish : ${filteredDishes}">
                                <span th:text="${dish.dishName}">Dish Name</span> - 
                                <span th:text="${dish.dishPrice}">Dish Price</span> - 
                                <span th:text="${dish.dishCategory}">Dish Category</span>
                            </li>
                        </ul>
                    </div>
                
                    <div th:if="${filteredDishes == null}" class="wrong">
                        <p>No dishes found for the given criteria</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

   <!-- <div class="Questions">
                            <h1>1. What categories of dishes are you interested in?</h1>
                                <div class="filter">
                                    <input type="text" placeholder="ex: Dessert"/>
                                </div>
                            <h1>2. What is the maximum amount you are willing to spend?</h1>
                                <div class="filter">
                                    <input type="number" placeholder="Amount" min="0"/>
                                </div>
                            <h1>3. In case of an allergy, please enter the allergenic ingredient.</h1>
                                <div class="filter">
                                    <input type="text" placeholder="ex: Peanuts"/>
                                </div>
                        </div>                    -->

                        <!-- <button onclick="location.href='/menu/create';" class="order">
                            Order Here
                        </button> -->
<!-- 

                        <select id="allergies" name="allergies" multiple>
                            <option value="Tomato">Gluten</option>
                            <option value="Pepperoni">Dairy</option>
                            <option value="Garlic">Nuts</option>
                        </select> -->

                        <!-- <select id="categories" name="categories" multiple>
                            <option value="Appetizers">Appetizer</option>
                            <option value="Main Courses">Main Course</option>
                            <option value="Desserts">Dessert</option>
                        </select> -->


                        <!-- <div class="dishes" th:if="${filteredDishes != null}">
                            <li th:each="dish : ${filteredDishes}">
                                <span th:text="${dish.dishName}">Dish Name</span> - 
                                <span th:text="${dish.dishPrice}">Dish Price</span> - 
                                <span th:text="${dish.dishCategory}">Dish Category</span>
                            </li>
                        </div>
                        <div class="wrong" th:if="${filteredDishes == null || filteredDishes.isEmpty()}">
                            <p>No dishes found for the given criteria.</p>
                        </div> -->