<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\paymentStyle.css">
</head>
<body>
    
    <div class="container">
        
        <form th:action="@{/menu/payment}" method="post">
            <h1>Payment</h1>
            <div class="inputs">
                <input list="numbers" name="tableId" placeholder="Table" required>
                <datalist id="numbers"></datalist>
            </div>
            <div class="inputs">
                <input list="numbers2" name="restaurantId" placeholder="Restaurant" required>
                <datalist id="numbers2"></datalist>
            </div>
            <button type="submit" class="btn">Pay Or You Die</button>
        </form>
        <div th:if="${message}" class="success">
          <span th:text="${message}"></span>
        </div>
        <div th:if="${error}" class="alert">
          <span th:text="${error}"></span>
      </div>
    </div>
    <button onclick="location.href='/menu';" class="btn-back">Back</button>
    <script>
        const datalist = document.getElementById('numbers');
        for (let i = 1; i <= 20; i++) {
          const option = document.createElement('option');
          option.value = i;
          datalist.appendChild(option);
        }
      </script>
      <script>
        const datalist2 = document.getElementById('numbers2');
        for (let i = 1; i <= 2; i++) {
          const option = document.createElement('option');
          option.value = i;
          datalist2.appendChild(option);
        }
      </script>
</body>
</html>