<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\reviewListStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        
        <div id="sidebar">
            <div id="keys">
                <button class="other-buttons">Home <i class='bx bxs-home-smile' ></i></button>
                <button onclick="location.href='/menu';" class="other-buttons">Menu/Order</button>
                <button onclick="location.href='/menu/payment';" class="other-buttons">Payment</button>
                <button onclick="location.href='/aboutUs';" class="other-buttons">About us</button>
                <button onclick="location.href='/reviewList';" class="other-buttons">Reviews</button>
                <button onclick="location.href='/login';" id="login">Login</button>
            </div>
        </div>
        <div class="smallContainer">
            <div class="content">
                <h1>Reviews for Restaurant ID: <span th:text="${restaurant_id}"></span></h1>
                <ul>
                    <li th:each="review : ${reviews}">
                        <p><strong>Comment:</strong> <span th:text="${review.reviewComment}"></span></p>
                        <p><strong>Rating:</strong> <span th:text="${review.reviewRating}"></span><i class='bx bxs-star'></i></p>
                        <p><strong>Restaurant Name:</strong> <span th:text="${review.restaurant}"></span></p>
                    </li>
                </ul>

                <form action="/reviewList" method="get">
                    <label for="restaurant_id"><strong>Choose a restaurant:</strong></label>
                    <select name="restaurant_id" class="restaurant_id" onchange="this.form.submit()">
                        <option value="1" th:selected="${restaurant_id == 1}">Restaurant 1</option>
                        <option value="2" th:selected="${restaurant_id == 2}">Restaurant 2</option>
                    </select>
                </form>
            </div>
            <div class="makeReview">
                <form th:action="@{/reviewList}" th:object="${review}" method="post">
                   
                    <label for="review_comment">Comment:</label>
                    <textarea th:field="*{review_comment}" class="boxes" required></textarea>
                    
     
                    <label for="review_rating">Rating (1-5):</label>
                    <input th:field="*{review_rating}" type="number" min="1" max="5" class="boxes" required />
                    
                
                 
                    <label for="restaurant_id">Select Restaurant:</label>
                
                    <select th:field="*{restaurant.restaurant_id}" class="boxes" required>
                        <option value="1" th:selected="${restaurant_id == 1}">Restaurant 1</option>
                        <option value="2" th:selected="${restaurant_id == 2}">Restaurant 2</option>
                    </select>
                    
                    <input type="hidden" th:field="*{restaurant.restaurant_id}" value="${restaurant_id}" />

                
               
                    <button type="submit" class="boxes">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>