<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restaurant App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\css\statisticsStyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="big-container">
            <div class="container">
                <button onclick="location.href='/login';" class="btn">Back</button>
                <button onclick="location.href='/login/tables';"class="tables">Open Tables</button>
                <button onclick="location.href='/login/ingredients';"class="ingredients">Ingredients Stock</button>
                <button class="statistics">Statistics</button>
            </div>
            <div class="container2">
                <div class="statsByCategory" th:each="dish : ${favoriteDishes}">
                    <p>Dish Name: <span th:text="${dish.dishName}">Dish Name</span></p>
                    <p>Total Quantity: <span th:text="${dish.totalQuantity}">Total Quantity</span></p>
                </div>
                
                <div class="statsByCategory" th:each="dish : ${favoriteDishes2}">
                    <p>Dish Name: <span th:text="${dish.dishName}">Dish Name</span></p>
                    <p>Total Quantity: <span th:text="${dish.totalQuantity}">Total Quantity</span></p>
                </div>
                
                <div class="statsByCategory" th:each="cost : ${dishCost}">
                    <p>Dish Name: <span th:text="${cost.dishName}">Dish Name</span></p>
                    <p>Cost: <span th:text="${cost.dishCost}">Cost</span></p>
                </div>
                
                <div class="statsByCategory" th:each="profit : ${dishProfit}">
                    <p>Dish Name: <span th:text="${profit.dishName}">Dish Name</span></p>
                    <p>Profit: <span th:text="${profit.dishProfit}">Profit</span></p>
                </div>
                
                <div class="statsByCategory" th:each="sale : ${sales}">
                    <p>Dish Name: <span th:text="${sale.dishName}">Dish Name</span></p>
                    <p>Total Sales: <span th:text="${sale.totalSales}">Total Sales</span></p>
                </div>
                
                <div class="statsByCategory" th:each="profit : ${totalProfit}">
                    <p>Period: <span th:text="${profit.period}">Period</span></p>
                    <p>Total Profit: <span th:text="${profit.totalProfit}">Total Profit</span></p>
                </div>
                
                <div class="statsByCategory" th:each="profit : ${totalProfit2}">
                    <p>Period: <span th:text="${profit.period}">Period</span></p>
                    <p>Total Profit: <span th:text="${profit.totalProfit}">Total Profit</span></p>
                </div>
    </div>
    </body>
</html>